/*mobile first*/
@media (max-width: 600px) {
    body {
      margin: 1em;
    }
    nav {
      display: fixed;
    }
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
/*tablet*/
@media (min-width: 600px) {
    body {
      margin: 0em;
    }
    nav {
      display: sticky;
    }
    nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
body {
    background-color: rgb(187, 226, 187);
}
.edu-vic-wa-nt-beginner-123 {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
body {
    font-family: 'Edu VIC WA NT Beginner', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0em;
    padding: 2em;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: flexbox;
    margin-right: 1em;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
h1 {
    font-size: 2.8em;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: .5em;
    text-shadow: 2px 1px 4px rgba(78, 78, 78, 0.5);
}
img {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.flex-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5em;
    padding: 0em;
    background-color: #fff;
    border-radius: 1em;
}
.flex-container div {
    background: #ffffff;
    height: 200px;
    flex: 1;
}
h2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: .5em;
    text-shadow: 2px 1px 4px rgba(78, 78, 78, 0.5);
}
p {
    font-size: 1em;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: .5em;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 0em;
    padding-left: 1em;
    border-left: 1px solid #333;
    list-style-type: none;
}

section {
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 40em;
}
a {
    display: flex;
    font-size: 1em;
    color: #333;
    margin: 0 auto;
    justify-content: center;
    margin-top: 0;
    padding-top: .5em;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    background-color: #608e61;
    border-radius: 2em;
}
body {
    background-color: rgb(187, 226, 187);
}
h3 {
    font-size: 1em;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
.columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2em;
    background-color: #fff;
    padding-bottom: 1em;
    border-radius: 4em;
    font-size: medium;
    flex-direction: column;
}
h6 {
    font-size: .8em;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: .5em;
}
.column p {
    font-size: .9em;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: .1em;
    padding-left: 1em;
}
.column {
    margin: .5em;
    padding: 2em;
    background-color: #fff;
    border-radius: 3em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
}
.experience {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    margin: 1em;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 3em;
    justify-content: center;
}
.container1 {
    display: grid;
    grid-gap: 1em;
    margin: 1em;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 3em;
    justify-content: center;
}
.column1 {
    margin: 1em;
    padding: 0em;
    background-color: #ffffff;
    border-radius: 5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
}
#Connect {
    display: flex;
    flex-direction: column;
    gap: 0em; 
    margin: 1em;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10em;
    justify-content: center;
}